@use 'src/styles/main.scss' as *;

.notification_container {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999999;
	width: 100%;
}

.top_right {
	top: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.bottom_right {
	bottom: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.top_left {
	top: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toast-in-left .7s;
}

.bottom_left {
	bottom: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toast-in-left .7s;
}

.bottom_center {
	bottom: 40px;
	left: -50%;
	transform: translateX(50%);
	transition: transform .6s ease-in;
	animation: toast-in-center .7s;
}

.notification {
	background: $white;
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 30px;
	margin-bottom: 15px;
	width: 300px;
	height: auto;
	border-radius: toRem(8);
	box-shadow: 0 0 10px #999;
	color: #000;
	opacity: .9;
	background-position: 15px;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.notification:hover {
	box-shadow: 0 0 12px $white;
	opacity: 1;
	cursor: pointer
}

.notification_message {
	width: 100%;
	margin: 0;
	text-align: start;
	overflow: hidden;
	font-size: toRem(12);
	font-weight: 500;
	line-height: 21px;
	display: flex;
	align-items: center;

	i {
		font-size: toRem(16);
		margin-left: toRem(12);
	}
}

.notification_image {
	float: left;
	margin-top: -2px;
	margin-right: 15px;
}

.notification_image img {
	width: 25px;
	height: 25px;
}

.toast {
	height: auto;
	width: 365px;
	color: $white;
	padding: 10px;
	background-color: $gray-a;
}

.notification_container button {
	position: relative;
	right: -.3em;
	top: -.3em;
	float: right;
	font-weight: 700;
	color: $white;
	outline: none;
	border: none;
	text-shadow: 0 1px 0 $white;
	opacity: .8;
	line-height: 1;
	font-size: 16px;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

@keyframes toast-in-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes toast-in-center {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50);
	}
}